#header, #footer {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  font-family: "Calibri",Arial,Helvetica,sans-serif;
  color: #363636;
}
#header {
  margin-bottom: 15px;
}

.resp_selector_container {
  clear:both;
  margin: 15px;
}
.resp_selector {
 background-color: transparent;
 text-decoration: none;
 border: none;
 cursor: pointer;
 cursor: hand;
 text-decoration: none;
 color: #665d52;
 font-weight: bold;
}
.resp_selector:hover {
  text-decoration: underline;
}