/*https://www.ibm.com/developerworks/community/blogs/bobleah/entry/code_example_of_responsive_web_design_using_css3_media_queries13?lang=en*/



/* Standard CSS, only used to display which layout is used in this demo and hide user buttons when not needed. */
@media (min-width: 1025px) and (max-width:1600px) {
  #footer:before, #header:after {
    content: "Now Displaying - Desktop Version";
  }
  .resp_selector_container {
    display: none;
  }
}

/* iPads (portrait and landscape) and Desktop Screens ----------- */
 
@media  only screen and (min-width : 322px) and (max-width : 1024px), only screen and (min-device-width : 481px) and (max-device-width : 1024px) {
/*
@media (min-width: 481px) and (max-width: 768px) {
*/#wrapper {
    width:92%;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  #footer:before, #header:after {
    content: "Now Displaying - iPads (portrait and landscape)";
  }
  .tablecontainer{
    width: 100%;
    overflow: auto;
    margin-left:auto;
    margin-right:auto;  
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 100px) and (max-width : 335px), only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body p{
    font-size: 4em;
  }
  #wrapper {
    width:92%;
    margin: 0px 5px;
    padding: 25px 5px;
  }
  .widget{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }
  .widget p,input.resp_selector {
    font-size: 5em;
  }
  .tablecontainer{
    width: 100%;
    overflow: auto;
    margin-left:auto;
    margin-right:auto;
  }

  #footer:before, #header:after {
    content: "Now Displaying - Smartphones (portrait and landscape)";
  }
}




